* {
    margin:0;
    padding:0;
   
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


html {
    height: 100%;
}

body {
    height:100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
}


#mainHeader {
    font-size: 90px;
    color:rgb(253, 87, 87);
    font-family: monospace;
}

.instructions {
    padding:15px;
    font-family:consolas;
}

#input{
    position:relative;
    left:5px;
    width:90%;
    padding:13px;
    margin-top:30px;
    border-radius:10px;
    border:0px ;

}

#enter{
    position:absolute;
    top:40px;
    transform: scale(2);
    margin-left:25px;
}

#container {
    position:absolute;
    min-width:80%;
    left:8%;
    border-radius: 10px;
    height:auto;
}

#new{
    position:relative;
}

.task {
    position:relative;
    padding:10px;
    left:2%;
    margin-top:10px;
    background-color:white;
    font-family: consolas;
    font-size: 18px;
    border-radius: 10px;
    width:70%;

}

.delete {
    position:absolute;
    right:10px;
    transform : scale(1.5);
}

.task:hover {
    cursor: pointer;
}